 
#one {
height: auto;
margin: auto;
}
body{
    background-image: url("https://images.unsplash.com/photo-1622976480059-1e341a28786e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNvbGlkJTIwcGljdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}
h1{
    color: aliceblue;
}
input:hover{
    color: aqua;
}
small{
    color: khaki;
}
.signup{
    background-color:blueviolet;
    padding: auto;
    color:rgb(250, 242, 250);
    background-clip: padding-box;
    border-style: hidden;
}
.signin{
    background-color:blueviolet;
    padding: auto;
    color:rgb(250, 242, 250);
    background-clip: padding-box;
    border-style: hidden;

}
.username{
    background-color:transparent;
    padding: auto;
    color:rgb(250, 242, 250);
    background-clip: padding-box;
    border-style:var(3D);

}
.password{
    background-color:transparent;
    padding: auto;
    color:rgb(250, 242, 250);
    background-clip: padding-box;
    border-style:var(3D);
}
.forget{
    color: blue;
}
.forget:hover{
    color: white;
}
.remember{
    
}

